<div class="center">
  <div>
    <label for="inputTask" class="block">Input your task in the textbox bellow</label>
    <input type="text" name="inputTask" [(ngModel)]="inputValue">
    <button class="btn-add" (click)="addTask()">Add Task</button>

    <div class="list-of-todo" *ngIf="todoList.length > 0">

      <div class="todo-element" *ngFor="let todo of todoList">
        <input type="checkbox" (change)="checkDoneEvent($event, todo)">
        The task <span class="text-bold todo-name">{{ todo.name }}</span>
        is <span class="text-bold">{{ todo.done ? 'Done' : 'not done yet!' }}</span>
      </div>
    </div>
  </div>

  <app-done-todo-list [doneTodoList]="doneList"></app-done-todo-list>

</div>