.text-bold {
  font-weight: bold;
}

.block {
  display: block;
}

.todo-name {
  color: green;
}

.list-of-todo {
  margin-top: 10px;

  &>.todo-element:not(:last-child) {
    margin-bottom: 5px;
  }
}

.btn-add {
  margin-left: 10px;
  padding: 6px 12px;
}

label {
  margin-bottom: 4px;
}

input[type="text"] {
  width: 360px;
  padding: 6px 12px;
  border: 1px solid #000;
  border-radius: 6px;
}